# Database (Supabase) configuration
SUPABASE_URL=https://wwliqpcrktsgedggpimz.supabase.co/rest/v1/
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind3bGlxcGNya3RzZ2VkZ2dwaW16Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODMzMjUwOTAsImV4cCI6MjA5ODkwMTA5MH0.N18F96lNirV0KlIj4TWXWyBt4YfC9LR5uAFw9bqDzhw
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind3bGlxcGNya3RzZ2VkZ2dwaW16Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MzMyNTA5MCwiZXhwIjoyMDk4OTAxMDkwfQ.-4puvFP2Iv6UzOV9THIX9qFGLcZUT6tpJH21GG8BnuM

# Payment Gateway (Razorpay) configuration
RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_KEY_SECRET=rzp_test_SoNU3WPAitKTgk

# Security Settings
JWT_SECRET=vIoydcwEDYEUIBaaewG9NgXvLfBMcGf1ttPerFQbpXZ
PORT=3000
